{% extends "base.html" %}
{% block title %}Add Notes{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Choose Note Category</h1>
    <div class="scroll-container mt-4">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4 mb-3 position-relative">
                <a href="{{ url_for('add_category_notes', category=category.name) }}" class="btn btn-outline-primary w-100 py-3">
                    {{ category.name }}
                </a>
                {% if category.name in category_note_counts and category_note_counts[category.name] > 0 %}
                <span class="badge bg-warning position-absolute" style="top: -10px; right: 10px;">
                    {{ category_note_counts[category.name] }}
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}